<figure class="appearance">
  <div>
   
    <img  class="appearance__image" src="./assets/img/bulbizarre.jpg" alt="bulbizarre" />
  </div>
    <figcaption class="appearance__details">
    <p>Pokemon Graine. Taille : 0.7m, poids: 6.9 kg</p>
    </figcaption>
</figure>