<section class="attack">
  <div class="attack__cost">
    <img src="./assets/img/leaf.png" alt="feuille" />
    <img src="./assets/img/leaf.png" alt="feuille" />
  </div>
  <div class="attack__description">
    <span class="attack__name">Vampigraine</span>
    <span class="attack__details">A moins que tous les dégas infligés par cettaque ne soit pas prévenus vous pouvez retirer 1 marqueur de Bulbizare</span>
  </div>
  <h2 class="attack__damage">20</h2>
</section>