<header class="identity">
    <div>
        <p class="identity__evolution">Pokemon de base</p>
        <h1 class="identity__name">Bulbizarre</h1>
    </div>
    <div>
        <span class="identity__life">40 PV</span>
        <img class="identity__type" src="./assets/img/leaf.png" alt="typefeuille"/>
    </div>
</header>