
<section class="types">
  <div>
    <p class="types__label">Faiblesse</p>
    <img class="types" src="./assets/img/fire.png" alt="feu" />
  </div>
  <div>
    <p class="types__label">Résistance</p>
  </div>
  <div>
    <p class="types__label">Cout de retraite</p>
    <img src="./assets/img/normal.png" alt="normal" />
  </div>
</section>