<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>ooooo carte pokemeon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/scss/styles.scss/" />
  </head>

  <body>
    <div class="carte">
      include includes/identity.pug
       include includes/appearance.pug
      include includes/attack.pug
      include includes/types.pug
      include includes/pokedex.pug

     

     

   
    </div>
  </body>
</html>
